---
import Navigation from "./Navigation.astro"
import Social from "./Social.astro"
---

<header class="header">
    <nav>
        <Navigation/> -
        <Social platform="github" username="tombohub"/>
    </nav>
</header>

