---
import BaseLayout from "../../layouts/BaseLayout.astro";
import { getCollection } from "astro:content";

export async function getStaticPaths() {
  const shorts = getCollection("shorts");
  return (await shorts).map(post => ({
    params: { slug: post.slug },
    props: { post },
  }));
}

const { post } = Astro.props;
const { Content } = await post.render();
---

<BaseLayout pageTitle={post.data.title}>
  <h2>{post.data.title}</h2>
  <Content />
</BaseLayout>
