--- 
layout: base.html
---
<section id='web'>
    <h1>Web</h1>
    <hr>
    <hr>
    {% for project in collections.web %}
        {% include project.html %}
    {% endfor %}
</section>
<br><br>
<section id='data'>
    <h1>Data</h1>
    <hr>
    <hr>
    {% for project in collections.data %}
        {% include project.html %}
    {% endfor %}
</section>
<br><br>
<section id='script'>
    <h1>Script</h1>
    <hr>
    <hr>
    {% for project in collections.script %}
        {% include project.html %}
    {% endfor %}
</section>

